* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    padding: 0 40px 20px 40px;
    background-color: rgb(38, 40, 54);
    font-family: "Montserrat", sans-serif;
}

input {
    width: 100%;
    height: 40px;
    margin: 10px;
    padding-left: 10px;
    color: rgb(38, 40, 54);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 80px;
    height: 48px;
    margin: 10px;
    background-size: cover;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: transform;
}

button:active {
    transform: scale(.9);
    transition: transform;
}

#inpost {
    background-image: url("./images/inpost.png");
}

#dpd {
    background-image: url("./images/dpd.png");
}

#dhl {
    background-image: url("./images/dhl.png");
}

#pocztex {
    background-image: url("./images/pocztex.png");
}

#raben {
    background-image: url("./images/raben.png");
}

#gls {
    background-image: url("./images/gls.png");
}

#fedex {
    background-image: url("./images/fedex.png");
}

#ups {
    background-image: url("./images/ups.png");
}

.info {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    overflow-wrap: break-word
}

.info p:first-child {
    margin-bottom: 10px;
}

.guide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(38, 40, 54);
    border-radius:13px;
    right: 0;
    cursor: pointer;

}

.guide__btn{
    font-weight: bold;
}
.guide:hover>.guide__text{
    display: block;
}
.guide__text{
    position: fixed;
    display: none;
    width: 390px;
    margin: 0 0px 150px 65px;
    padding: 10px 20px;
    left: 0;
    background-color: rgb(38, 40, 54);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    line-height: 2;
    
}

.hide {
    display: none;
}